@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Game", "index", "game")</p>
    <p>@Html.ActionLink("Friend", "index", "friend")</p>
    <p>@Html.ActionLink("Rental", "index", "rental")</p>
</div>
